<div class="container">
  <div class="row">
    <h2>Brauerdaten</h2>
    <a [routerLink]="['/brewer-edit']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true">+</span>
  </a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let brewer of brewers">
          <th>{{brewer.userId}}</th>
          <td>{{brewer.firstname}}</td>
          <td>{{brewer.lastname}}</td>
          <td>{{brewer.isActive}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>