<div class="container">

  <h2>Brauerdaten
    <a [routerLink]="['/brewer-edit']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true">+</span>
    </a>
  </h2>


  <div class="list-group">
    <ng-container *ngFor="let brewer of brewers">
      <a href="/#/brewer-edit/{{brewer.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{brewer.firstname}} {{brewer.lastname}}</h5>
          <span>
            <a class="fas fa-edit" href="/#/brewer-edit/{{brewer.id}}" data-toggle="tooltip" title="Brauer bearbeiten"
              style="font-size: 1.3em;"></a>
            <a class="fas fa-user-circle" href="/#/profile/{{brewer.id}}" data-toggle="tooltip" title="Profil bearbeiten"
              style="font-size: 1.3em;"></a>
          </span>
        </div>
        <p class="mb-1">{{brewer.lastLogin}}</p>
        <small><b>Alkohol:</b> tt <b>Stammwürze:</b> tt<b>Bittere:</b>
          tt IBU <b>Farbe:</b> tt EBC</small>
      </a>
    </ng-container>
  </div>
</div>