<div class="container">
  <div class="row">

    <div class="col-sm">
      <h2>Arbeitsschritt {{receiptId}}</h2>
      <form (ngSubmit)="saveStep(stepId)" #stepForm="ngForm">
        <!--div class="form-group">
            <label for="name">Rezeptname</label>
            <input type="text" size="80" class="form-control" id="name" placeholder="Name des Rezeptes" [(ngModel)]="step.name" name="rcpt.name" required>
          </div-->
        <div class="form-group">
          <label for="type">Typ</label>
          <select class="custom-select" width="100" id="type" [(ngModel)]="step.stepType" name="stp.type" required>
            <option value="HEAT" selected>Erhitzen</option>
            <option value="MASH">Maischen</option>
            <option value="ADD">Hinzufügen</option>
            <option value="WAIT">Warten</option>
            <option value="LAUTER">Läutern</option>
            <option value="COOK">Kochen</option>
            <option value="FERMENT">Gären</option>
            <option value="STORE">Lagern</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" size="80" class="form-control" id="name" placeholder="Bescheibender Name" [(ngModel)]="step.name" name="stp.name"
            required>
        </div>
        <div class="form-group">
          <label for="duration">Dauer</label>
          <input type="text" size="80" class="form-control" id="duration" placeholder="Dauer des Arbeitsschrittes" [(ngModel)]="step.duration"
            name="stp.duration" required>
        </div>
        <div class="form-group">
          <label for="timeUnit">Zeiteinheit</label>
          <select class="custom-select" width="100" id="timeUnit" [(ngModel)]="step.timeUnit" name="stp.timeUnit" required>
            <option value="MIN" selected>Minuten</option>
            <option value="HOUR">Stunden</option>
            <option value="DAYS">Tage</option>
            <option value="WEEKS">Wochen</option>
          </select>
        </div>
        <div class="form-group">
          <label for="temperature">Temperatur</label>
          <input type="text" size="80" class="form-control" id="temperature" placeholder="Temperatur" [(ngModel)]="step.temperature"
            name="stp.temperature">
        </div>
        <div class="form-group">
          <label for="description">Beschreibung</label>
          <textarea class="form-control" id="description" placeholder="Bechreibung der Tätigkeiten" rows="6" [(ngModel)]="step.description"
            name="stp.description"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-success">Speichern</button>
        </div>
      </form>
    </div>

    <div class="col-sm">
        <h2>Zutaten</h2>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active">
              Cras justo odio
            </button>
            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
          </div>
      </div>
  </div>
</div>