<div class="container">
  <div class="row">

    <div class="col-sm">
      <h2>Arbeitsschritt {{receiptId}}</h2>
      <form (ngSubmit)="saveStep(stepId)" #stepForm="ngForm">
        <!--div class="form-group">
            <label for="name">Rezeptname</label>
            <input type="text" size="80" class="form-control" id="name" placeholder="Name des Rezeptes" [(ngModel)]="step.name" name="rcpt.name" required>
          </div-->
        <div class="form-group">
          <label for="type">Typ</label>
          <select class="custom-select" width="100" id="type" [(ngModel)]="step.stepType" name="stp.type">
            <option value="HEAT" selected>Erhitzen</option>
            <option value="MASH">Maischen</option>
            <option value="ADD">Hinzufügen</option>
            <option value="WAIT">Warten</option>
            <option value="LAUTER">Läutern</option>
            <option value="COOK">Kochen</option>
            <option value="WHIRL">Whirlpool</option>
            <option value="CHILL">Abkühlen</option>
            <option value="FERMENT">Gären</option>
            <option value="STORE">Lagern</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" size="80" class="form-control" id="name" placeholder="Beschreibender Name" [(ngModel)]="step.name" name="stp.name"
            required>
        </div>
        <div class="form-group">
          <label for="duration">Dauer</label>
          <input type="text" size="80" class="form-control" id="duration" placeholder="Dauer des Arbeitsschrittes" [(ngModel)]="step.duration"
            name="stp.duration" required>
        </div>
        <div class="form-group">
          <label for="timeUnit">Zeiteinheit</label>
          <select class="custom-select" width="100" id="timeUnit" [(ngModel)]="step.timeUnit" name="stp.timeUnit" required>
            <option value="MIN" selected>Minuten</option>
            <option value="HOUR">Stunden</option>
            <option value="DAYS">Tage</option>
            <option value="WEEKS">Wochen</option>
          </select>
        </div>
        <div class="form-group">
          <label for="temperature">Temperatur</label>
          <input type="text" size="80" class="form-control" id="temperature" placeholder="Temperatur" [(ngModel)]="step.temperature"
            name="stp.temperature">
        </div>
        <div class="form-group">
          <label for="description">Beschreibung</label>
          <textarea class="form-control" id="description" placeholder="Bechreibung der Tätigkeiten" rows="6" [(ngModel)]="step.description"
            name="stp.description"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-success">Speichern</button>
        </div>
      </form>
    </div>

    <div class="col-sm">
      <span>
      <h2 style="display: inline;">Zutaten</h2> <a class="fas fa-edit" href="#" data-toggle="modal" data-target="#myModal" style="font-size: 1.3em;"></a>
      </span>
      <ul class="list-group">
        <ng-container *ngFor="let ingredient of step.ingredients">
          <li class="list-group-item flex-column align-items-start">
            <div class="d-flex flex-row">
              <h5 class="mb-1 p-2">{{ingredient.material.name}}</h5>
              <span class="fas fa-trash-alt p-2 ml-auto" style="font-size: 1.3em;" (click)="deleteMaterial(ingredient.id)"></span>
            </div>
            <div class="d-flex flex-row">
              <div class="p-2">
                <div class="form-group">
                  <label for="measure">Menge</label>
                  <input type="text" size="10" class="form-control" id="measure" [(ngModel)]="ingredient.measure" placeholder="Menge">
                </div>
              </div>
              <div class="p-2">
                <div class="form-group">
                  <label for="unit">Einheit</label>
                  <select class="custom-select" width="100" id="units" name="units" [(ngModel)]="ingredient.units" required>
                    <option value="GRAM" selected>Gramm</option>
                    <option value="KILO">Kilogramm</option>
                    <option value="LITER">Liter</option>
                    <option value="MILLILITER">Milliliter</option>
                    <option value="PIECES">Stück</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Materialauswahl</h4>
      </div>
      <div class="modal-body">
        <ng-container *ngFor="let material of materialList">
          <div class="input-group">

            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" aria-label="Radio button for following text input" data-dismiss="modal" (click)="addMaterial(material)">
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button" value="{{material.name}}">

          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nein</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="(id)">Ja</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->