<div class="container">
  <div>
    <h2>Brauer Basisdaten</h2>
  </div>
  <div class="row">
    <form (ngSubmit)="saveBrewer(brewer.id)" #receiptForm="ngForm">
      <div class="form-group">
        <label for="firstname">Vorname</label>
        <input type="text" size="80" class="form-control" id="firstname" placeholder="" [(ngModel)]="brewer.firstname"
          name="brewer.firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Nachname</label>
        <input type="text" size="80" class="form-control" id="lastname" placeholder="" rows="6" [(ngModel)]="brewer.lastname"
          name="brewer.lastname">
      </div>
      <div class="form-group">
        <label for="userId">Benutzername</label>
        <input type="text" size="80" class="form-control" id="userId" placeholder="" rows="6" [(ngModel)]="brewer.userId"
          name="brewer.userId">
      </div>
      <div class="form-group">
        <label for="password">Passwort</label>
        <input type="text" size="80" class="form-control" id="password" placeholder="" rows="6" [(ngModel)]="brewer.password"
          name="brewer.password">
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="isActive" [(ngModel)]="brewer.isActive" ng-false-value="false"
            ng-true-value="true" name="brewer.isActive">
          <label class="form-check-label" for="isActive">
            Ist aktiv
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="canWrite" [(ngModel)]="brewer.canWrite" ng-false-value="false"
            ng-true-value="true" name="brewer.canWrite">
          <label class="form-check-label" for="canWrite">
            Kann veröffentlichen
          </label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-success">Speichern</button>
      </div>
    </form>
  </div>
</div>