<div class="container">
  <h1>Lagerbestand ({{userId}})
    <a href="/#/storage-edit/-1">
      <span class="glyphicon glyphicon-plus" aria-hidden="true">+</span>
    </a>
  </h1>
  <div class="row">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Materialsuche" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Suchen</button>
      </div>
    </div>
  </div>
  <table class="table">
      <thead>
          <tr>
              <th>Material</th>
              <th>Quantity</th>
              <th>Unit</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let mat of materials">
              <td>{{ mat.type }}</td>
              <td>{{ mat.name }}</td>

              <td>{{ mat.description }}</td>
              <td>{{ mat.sourceUrl }}</td>

              <td>
                  <a href="/#/material-edit/{{mat.id}}">EDIT</a>
              </td>
              <td>
                  <a [routerLink]="">
                      <span (click)="deleteMaterial(mat.id)">DELETE</span>
                  </a>
              </td>
          </tr>

      </tbody>
  </table>
</div>